<table class="table table-hover">
  <thead>
    <tr><th></th><th>Title</th><th>Opinion</th><th></th><th></th></tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user) do %>
         <%= image_tag @user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
      <% if book.favorited_by?(current_user) %>
      <td>
        <%= link_to book_favorites_path(book), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true"></i>
          <%= book.favorites.count %>
        <% end %>
      </td>
      <% else %>
      <td>
        <%= link_to book_favorites_path(book), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= book.favorites.count %>
        <% end %>
      </td>
      <% end %>
      <td>コメント数：<%= book.book_comments.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>