<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <%= @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_area :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
  <%= link_to "Show", book_path(@book) %>
  <%= link_to "Back", books_path %>
<% end %>